*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* Input Section ---------------------- */
#input-section {
    height: 38%;
    width: 100%;
    background: #5757FF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input-section h1 {
    color: #dbffa9;
    font-size: 48px;
    margin-top: 20px;
}

#input-section input {
    background-color: #5757FF;
    color: #FFFFFF;
    font-size: 64px;
    font-weight: bold;
    margin-top: 20px;
    width: 210px;
    height: 130px;
    text-align: center;
    border: 4px solid #BFB7B7;
    border-radius: 10px;
    
}
::placeholder {
    color: #FFFFFF;
}

#input-section input:focus {
    outline: none;
}

#input-section button {
    background-color: #F2FEFF;
    color: #6B6060;
    width: 210px;
    height: 70px;
    font-size: 32px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    
} 

#input-section button:hover{
    background-color: #e2eced;
} 
#input-section button:active{
    background-color: #d2dcdd;
    width: 209px;
    height: 69px;
} 
#input-section button:focus{
    outline: none;
} 


/* Display Section ---------------------- */
#display-section {
    height: 62%;
    width: 100%;
    background: #EAF1F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.display-items {
    background: #FFFFFF;
    height: 140px;
    width: 90%;
    border: 1px solid #000000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-items h3 {
    font-size: 32px;
    color: #636161;
    margin-top: 20px;
}

.display-items p {
    font-size: 20px;
    color: #898383;
    margin-top: 10px;
}